  
{{template "header"}}
<title>编辑问题 -BiggerForum</title>
 </head>
 <body>
{{template "nav"}}
  <div class="container">
   <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
          <div class="panel-heading">
          	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>提问
          </div>
          <div class="panel-body">

            <form>
              <label for="exampleInputEmail1">话题选择</label>
              <div class="form-group">

                <!-- Single button -->
                <div class="row">
                    <div class="col-md-4">    
                      <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Defualt <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>
                    </div>
                </div>
              </div>
              <p>请选择话题并撰写标题，如果标题能表述完事情，摘录、正文等内容可忽略..</p>
              <div class="form-group">
                <label for="exampleInputPassword1">标题</label>
                <input type="text" class="form-control" id="title" placeholder="">
              </div>
			 <label>正文</label>
              <div id="test-editormd">
               <textarea style="display:none;"> </textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>



          </div>
        </div>
    </div>
    <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">编辑器帮助</div>
              <div class="panel-body">
                <h4><a href="#">markdown语法帮助</a></h4>
              </div>
            </div>
    </div>
   </div>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/editormd.js"></script>
  <script type="text/javascript">
            $(function() {
                var testEditor = editormd("test-editormd", {
                    width: "100%",
                    height: 640,
                    markdown : "",
                    path : '/static/lib/',
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "/files",
                });
            });
        </script>
 </body>
</html>
