<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<head>
	<title></title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/sigin.css" rel="stylesheet"/>
</head>
<body>
  <div class="container">

       <form class="form-signin" method="post" action="/user/register">
         <h2 class="form-signin-heading">Please sign in</h2>
         <label for="text" class="sr-only">UserName</label>
         <input type="text" id="inputEmail" class="form-control" placeholder="UserName" required autofocus name="username">
         <label for="inputEmail" class="sr-only">Email address</label>
         <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email">
         <label for="inputPassword" class="sr-only">Password</label>
         <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
         <label for="inputPassword" class="sr-only">Enter repeat Password</label>
         <input type="password" id="inputPassword" class="form-control" placeholder="Enter repeat Password" required>
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
       </form>

     </div>
</body>
</html>
